.SmallRate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12px;
  .line {
    width: 12px;
    background: #e2e2e2;
    height: 2px;
    margin: 1px 0;
  }
  .active {
    background: orangered;
  }
}
