.taskList {
  height: calc(100% - 34px);
  transition: background-color 0.2s ease;
}

.Task {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 4px;
  padding: 6px 10px;
  border: 1px solid #e2e2e2;
  transition: background-color 0.2s ease;
  .content {
    width: calc(100% - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
    line-height: 25px;
  }
  .tips {
    width: 100%;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
