// .Todo {
//   display: flex;
//   height: calc(100% - 58px);
//   text-align: left;
//   .leftList {
//     height: 100%;
//   }
// }

.Todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 58px);
  text-align: left;
  .inputSearch {
    :global {
      .ant-input-search-button {
        padding: 0;
        border: none;
      }
    }
  }

  .title {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .columns {
    height: calc(100% - 75px);
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    padding: 0 8px;
  }
}
